.select2-container--classic .select2-selection--single, .select2-container--default .select2-selection--multiple, .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__rendered {
    border-color: rgba(0,0,0,.1);
    height: 40px;
    color: #6a7a8c;
    line-height: 40px !important;
}